<%- include("partials/header")%>
<style>
    body {
        display: block;
    }
    main {
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    h1{
        color: #6A6E77;
    }
    #bars-open {
        display: none;
    }
</style>
<h1>PAGE NOT FOUND - 404</h1>
<p>Go back to home page - <a href="/onepiece/cards" class="beschrijving">click</a></p>